{% load static i18n %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!DOCTYPE html>
<html lang="[[ lang ]]">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=1024">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"> -->
	<meta name="description" content="Dashboard to monitor and evaluate landscape improvements in Cambodia">
	<meta name="author" content="SERVIR MEKONG">
	<meta name="keywords" content="Dashboard to monitor and evaluate landscape improvements in Cambodia, Mekong region, Cambodia, Thailand">
	<title>M&E Dashboard</title>
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">


</head>
<body>

	{% addtoblock "css" %}
	<style type="text/css">
	/** Hide when Angular is not yet loaded and initialized */
	[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
		display: none !important;
	}
	</style>

	<!-- Bootstrap Core CSS -->
	<link href="{% static 'vendor/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap2/bootstrap-switch.css" rel="stylesheet" crossorigin="anonymous">
	<!-- Bootstrap Plugins -->
	<link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" >
	<!-- FontAwesome -->
	<link href="{% static 'vendor/components-font-awesome/css/all.css' %}" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/css/bootstrap-slider.min.css" rel="stylesheet" crossorigin="anonymous"/>
	<!-- lEAFLET -->
	<link href="{% static 'vendor/leaflet/dist/leaflet.css' %}" rel="stylesheet">
	<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css"  data-require="leaflet@0.7.3" data-semver="0.7.3" /> -->
	<link href="{% static 'vendor/leaflet-draw/dist/leaflet.draw.css' %}" rel="stylesheet">
	<!--Plugin CSS file with desired skin-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css" crossorigin="anonymous"/>
	<!-- Google Font Style -->
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet" crossorigin="anonymous">
	<!-- Load CSS -->
	<!-- Custom CSS -->

	<link href="{% static 'css/main.css' %}" rel="stylesheet">
	<link href="{% static 'css/map.css' %}" rel="stylesheet">
	<link href="{% static 'css/navigation.css' %}" rel="stylesheet">
	<link href="{% static 'css/footer.css' %}" rel="stylesheet">
	<!-- Normalize CSS -->
	<link href="{% static 'vendor/normalize-css/normalize.css' %}" rel="stylesheet">
	<!-- ng-Dialog -->
	<link href="{% static 'vendor/ng-dialog/css/ngDialog.min.css' %}" rel="stylesheet">
	<link href="{% static 'vendor/ng-dialog/css/ngDialog-theme-default.min.css' %}" rel="stylesheet">


	{% block extra_css %}{% endblock %}

	{% endaddtoblock %}

	{% render_block "css" %}

	<div ng-cloak class="container-fluid-custom">
		{% cms_toolbar %}
		<!-- CMS Menu -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
			</ul>
		</div>
		{% include "navigation.html" %}
		{% block main_container %} {% endblock main_container %}
	</div>
	{% block footer %}
    	{% include "footer.html" %}
	{% endblock footer %}


	{% addtoblock "js" %}

	<!-- Load JS Lib -->
	<!-- jQuery -->
	<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
	<!-- Bootstrap Plugins -->
	<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.js'  %}"></script>
	<!-- Bootstrap Plugins -->
	<script src="{% static 'vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
	<!--  Load Angular  -->
	<script src="{% static 'vendor/angular/angular.min.js' %}"></script>
	<!-- Angular Dependent Library -->
	<script src="{% static 'vendor/angularjs-slider/dist/rzslider.min.js' %}"></script>
	<!--Angular Dialogue -->
	<script src="{% static 'vendor/ng-dialog/js/ngDialog.min.js' %}"></script>
	<!--Angular Strap -->
	<script src="{% static 'vendor/angular-strap/dist/angular-strap.min.js' %}"></script>
	<script src="{% static 'vendor/angular-strap/dist/angular-strap.tpl.min.js' %}"></script>
	<script src="{% static 'vendor/angular-file-saver/dist/angular-file-saver.bundle.min.js' %}"></script>
	<script src="{% static 'vendor/angular-spinner/dist/angular-spinner.min.js' %}"></script>
	<script src="{% static 'vendor/moment/min/moment.min.js'  %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.js"></script>
	<script src="{% static 'vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'  %}"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/bootstrap-slider.min.js" type="text/javascript"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
	<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.1.1/jspdf.umd.min.js"></script>
	<script src="https://unpkg.com/dom-to-image@2.6.0/dist/dom-to-image.min.js"></script>

	<!-- Graphs DASHBOARD-->
	<script src="{% static 'vendor/highcharts/highcharts.js' %}"></script>
	<script src="{% static 'vendor/highcharts/modules/exporting.js' %}"></script>
	<script src="{% static 'vendor/highcharts/modules/export-data.js' %}"></script>

	<!-- lEAFLET -->

	<!-- Angular Translation -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.1/angular-translate.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.1/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>


		<!-- Leaflet -->
		<script src="{% static 'vendor/leaflet/dist/leaflet.js' %}"></script>

		<script src="{% static 'vendor/leaflet-draw/dist/leaflet.draw.js' %}"></script>
		<script src="{% static 'data/cambodia.js' %}"></script>
		<script src="{% static 'data/cam_adm1.js' %}"></script>
		<script src="{% static 'data/cam_adm2.js' %}"></script>
		<script src="{% static 'data/protected_area.js' %}"></script>

	{% if debug %}
	<!-- Bootstrap Application -->
	<script src="{% static 'app/init.js' %}"></script>
	<!-- Load Settings -->
	<script src="{% static 'app/config/settings.js' %}"></script>
	<!-- Services -->

	<script src="{% static 'app/services/map.js' %}"></script>
	<!-- Controllers -->
	<script src="{% static 'app/controllers/settings.js' %}"></script>
	<script src="{% static 'app/controllers/map.js' %}"></script>
	{% else %}
	<script src="{% static 'dist/application.min.js' %}"></script>
	{% endif %}

	{% block extra_script %}{% endblock %}

	{% endaddtoblock %}


	{% render_block "js" %}

</body>
</html>
