{% extends "layout.html" %}
{% load cms_tags staticfiles %}

{% block main_container %}
<div class="container-fluid container-wrapper">
  <!-- Main Container -->
  <div class="row" ng-controller="mapcontroller">
    <!-- Loader Container -->
    <div id="loader" class="loader" ng-show="showLoader">
      <i class="loading-img fas fa-circle-notch fa-spin fa-4x"></i>
    </div>
    <!-- Alert Container -->
    <div class="alert alert-dismissible text-center display-none custom-alert" role="alert">
      <button type="button" class="close" ng-click="closeAlert()" aria-label="Close"><span aria-hidden="false">&times;</span></button>
      <strong> [[alertContent]] </strong>
    </div>

    <!-- Left Munu -->
    {% include "panels/left-menu.html" %}

    <div class="map-controller">
  				<header>
  					<h1>Dashboard Controls</h1>
  					<div id="collapse-button" class="foldable-btn up"></div>
  					<input id="disclaimer-button" type="button" name="disclaimer-button" class="show-model-button" value="i">
            <input id="guiding-button" type="button" name="guiding-button" class="show-model-button" value="?">
  				</header>

  				<div id="controls" class="body-controls">
  					<table>
  						<colgroup>
  							<col style="width: 291px">
  							<col style="width: 21px">
  						</colgroup>
  					  <tr>
  						<td><h3>1. Select a time period for the baseline EVI</h3></td>
  						<!-- <td><h3 class="step"> ?</h3></td> -->
  					  </tr>
  					</table>

  					<div style="width:90%; margin-left:15px;">
                <input type="text" class="js-range-slider" id="baseline_period" name="baseline_period" />
            </div>

  					<table>
  						<colgroup>
  							<col style="width: 291px">
  							<col style="width: 21px">
  						</colgroup>
  					  <tr>
  						<td><h3>2. Select a time period to measure</h3></td>
  						<!-- <td><h3 class="step">?</h3></td> -->
  						</tr>
  					</table>
  					<div style="width:90%; margin-left:15px;">
                <input type="text" class="js-range-slider" id="measure_period" name="measure_period" />
            </div>

  					<table>
  						<colgroup>
  							<col style="width: 291px">
  							<col style="width: 21px">
  						</colgroup>
  						<tr>
  							<td><h3>3. Choose a polygon selection method</h3></td>
  							<!-- <td><h3 class="step">?</h3></td> -->
  						</tr>
  					</table>

  					<div class="image-options">

  		        <button class="protected_area_button">
  		          <div class="button-wrapper">
  		            <svg class="c-icon icon-square-point" viewBox="0 0 45 45">
  		              <image xlink:href="/static/images/icons/map-point.svg" />
  		            </svg>
  		            <div class="label-text">
  		              PROTECTED AREA
  		            </div>
  		          </div>
  		        </button>
              <button class="province_button">
  		          <div class="button-wrapper">
  		            <svg class="c-icon icon-square-point" viewBox="0 0 45 45">
  		              <image xlink:href="/static/images/icons/map-point.svg" />
  		            </svg>
  		            <div class="label-text">
  		              ADM. PROVINCE
  		            </div>
  		          </div>
  		        </button>

  		        <button class="district_button">
  		          <div class="button-wrapper">
  		            <svg class="c-icon icon-square-point" viewBox="0 0 45 45">
  		              <image xlink:href="/static/images/icons/map-point.svg" />
  		            </svg>
  		            <div class="label-text">
  		              ADM. DISTRICT <br>
  		            </div>
  		          </div>
  		        </button>
  		        <button class="draw-polygon" id="draw-tool">
  		          <div class="button-wrapper">
  		            <svg class="c-icon icon-square-point" viewBox="0 0 45 45">
  		              <image xlink:href="/static/images/icons/draw-tool.svg" />
  		            </svg>
  		            <div class="label-text">
  		              DRAW / UPLOAD
  		            </div>
  		          </div>
  		        </button>
              <br>

  		      </div>
            <p>Selected Area: <span class="selected_area_name" style="color: #023b10;">Cambodia</span></p>
  					<input id="files" type="file" multiple="" name="files1[]" hidden><output id="file_list"></output>
            <div class="text-center">
                <button type="button" name="update-map" id="update-map" class="update-btn">UPDATE MAP</button>
                <button type="button" name="clear-map" id="clear-map" class="clear-btn">CLEAR MAP</button>
            </div>

  					<!-- <button id="downloadkml" > Download Polygon </button>
  					<p> Click a polygon on the map or draw your own</p><p id="polygon">Selection: <em id="name"></em> -->
  					</div>
  			</div> <!-- end of ui display block -->

    <!-- Map Container -->
    <!-- <div class="map" id="map" ng-init="getAvailabelDate();"> -->
    <div class="map" id="map" >
      <div class="control-panel map-component">
        <div class="scalebar-container"></div>
        <!-- Map Munu -->
        {% include "panels/map-menu.html" %}
      </div>
      {% include "panels/legendbox.html" %}
    </div>
    <div class="highlight_area_textbox"></div>

    {% include "panels/guiding-panel.html" %}
    {% include "panels/draw-tool-panel.html" %}
    {% include "panels/disclaimer.html" %}
    {% include "panels/layers-info.html" %}

  </div>
</div>



{% endblock main_container %}
