<div id="disclaimer-modal" class="modal hide">
  <div class="modal-container">
    <div class="modal-background"></div>
    <div class="modal-window ">

      <div class="modal-wrapper custom-scroll">
        <div class="area-modal-title">
          [['Disclaimer' | translate]]
        </div>
        <div class="disclaimer-content">
          <p>SERVIR-Mekong, NASA, USAID and ADPC make no express or implied warranty of this data as to the merchantability or fitness for a particular purpose. SERVIR-Mekong, NASA, USAID and ADPC make no express or implied warranty as to the accuracy of the map or as to the merchantability or fitness for a particular purpose of the data. Neither the US Government nor its contractors shall be liable for special, consequential or incidental damages attributed to this data.</p>
        </div>
      </div>
    </div>
  </div>
</div>
