<div id="guiding-modal" class="modal">
  <div class="modal-container">
    <div class="modal-background"></div>
    <div class="modal-window ">
      <button type="button" class="close" data-dismiss="model" name="button">×</button>
      <div class="modal-wrapper custom-scroll">
        <div class="area-modal-title">
          Welcome to the M&E Dashboard
        </div>
        <br>
        <div class="disclaimer-content">
          <p>GET STARTED WITH FOUR EASY STEPS</p>
          <div class="row">
            <div class="col-md-6">
              <div class="col-md-12" style="padding: 0; font-size:12px; text-align: center;">
                <img src="/static/images/icons/guide/time-period.png" alt="" width="50%">
              </div>
              <div class="col-md-12" style="padding: 0; font-size:12px; text-align: center;">
                <b>Step 1</b>
               Select Baseline period: Period before project intervention and Evaluation period: Period of project intervention
              </div>

            </div>
            <div class="col-md-6">
              <div class="col-md-12" style="padding: 0; font-size:12px; text-align: center;">
                <img src="/static/images/icons/guide/define-area.png" alt="" width="50%">
              </div>
              <div class="col-md-12" style="padding: 0; font-size:12px; text-align: center;">
                <b>Step 2</b>
               Define area of interest (which can be administrative boundaries, protected area or user self defined)

              </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-6">
              <div class="col-md-12" style="padding: 0; font-size:12px; text-align: center;">
                <img src="/static/images/icons/guide/img-processing.png" alt="" width="50%">
              </div>
              <div class="col-md-12" style="padding: 0; font-size:12px; text-align: center;">
                <b>Step 3</b>
               Click Update map
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-md-12" style="padding: 0; font-size:12px; text-align: center;">
                <img src="/static/images/icons/guide/components.png" alt="" width="50%">
              </div>
              <div class="col-md-12" style="padding: 0; font-size:12px; text-align: center;">
                <b>Step 4</b>
               Select the tab of information of interest
              </div>

            </div>
          </div>
          <br>
          <br>
          <a href="https://docs.google.com/document/d/e/2PACX-1vTGOYwxTtm_RARo78PDBVTSw3xIqPEfZCG_4LOntU1VjBqQlz3UoTLMYFpBhbDDp53i1zGMqEx_GxfQ/pub" target="_blank">READ OUR TOOL GUIDELINES TO DISCOVER MORE…</a>
        </div>
      </div>
    </div>
  </div>
</div>
