<div id="evi-info-modal" class="modal hide">
  <div class="modal-container">
    <div class="modal-background"></div>
    <div class="modal-window ">

      <div class="modal-wrapper custom-scroll">
        <div class="area-modal-title">
          [['Biophysical Layer' | translate]]
        </div>
        <hr>
        <div class="disclaimer-content">
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="forest-info-modal" class="modal hide">
  <div class="modal-container">
    <div class="modal-background"></div>
    <div class="modal-window ">

      <div class="modal-wrapper custom-scroll">
        <div class="area-modal-title">
          [['Forest' | translate]]
        </div>
        <hr>
        <div class="disclaimer-content">
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="forest-alert-info-modal" class="modal hide">
  <div class="modal-container">
    <div class="modal-background"></div>
    <div class="modal-window ">

      <div class="modal-wrapper custom-scroll">
        <div class="area-modal-title">
          [['Forest Alert' | translate]]
        </div>
        <hr>
        <div class="disclaimer-content">
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="burned-area-info-modal" class="modal hide">
  <div class="modal-container">
    <div class="modal-background"></div>
    <div class="modal-window ">

      <div class="modal-wrapper custom-scroll">
        <div class="area-modal-title">
          [['Fire / Burned Area' | translate]]
        </div>
        <hr>
        <div class="disclaimer-content">
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
