<div id="evi-info-modal" class="modal hide">
  <div class="modal-container">
    <div class="modal-background"></div>
    <div class="modal-window ">

      <div class="modal-wrapper custom-scroll">
        <div class="area-modal-title">
          [['Biophysical Layer' | translate]]
        </div>
        <div class="disclaimer-content">
          <table>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Overview</td>
              <td>The biophysical monitoring layer uses the Enhanced Vegetation Index (EVI) which is calculated using MODIS multispectral data (MOD13Q1) with a pixel resolution of 250 x 250m. The algorithm chooses the best available pixel value from all the acquisitions from the 16 day period. EVI is a measure of relative biomass and is particularly well-suited for high-biomass areas of the globe. </td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Resolution</td>
              <td>250m</td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Geographic Coverage</td>
              <td>Greater Mekong region</td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Data Source</td>
              <td> <a href="https://lpdaac.usgs.gov/products/mod13q1v006/">https://lpdaac.usgs.gov/products/mod13q1v006/</a></td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Frequency updates</td>
              <td> 16 days</td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">URL link to tool</td>
              <td> <a href="http://ecodash-servir.adpc.net/">http://ecodash-servir.adpc.net/</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="landcover-info-modal" class="modal hide">
  <div class="modal-container">
    <div class="modal-background"></div>
    <div class="modal-window ">

      <div class="modal-wrapper custom-scroll">
        <div class="area-modal-title">
          [['Land Cover Layer' | translate]]
        </div>
        <div class="disclaimer-content">
          <table>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Overview</td>
              <td>The Cambodia national Land Cover time series (2000 - 2020) was developed through a collaborative effort led by SERVIR-Mekong using the Regional Land Cover Monitoring System approach (Saah et al. 2020). The maps were developed under the auspices of the REDD+ task team and the FCPF project in Cambodia to support the FREL. For this purpose, RLCMS was customized to meet Cambodia's land cover typologies. An uncertainty assessment was integrated in the assemblage process. These maps were developed using Landsat annual composites and training data collected by MOE. </td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Resolution</td>
              <td>30m</td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Geographic Coverage</td>
              <td>Cambodia</td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Data Source</td>
              <td> <a href=""></a></td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Frequency updates</td>
              <td> Annually</td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">URL link to tool</td>
              <td> <a href="https://landcovermapping.org/">https://landcovermapping.org/</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="forest-info-modal" class="modal hide">
  <div class="modal-container">
    <div class="modal-background"></div>
    <div class="modal-window ">

      <div class="modal-wrapper custom-scroll">
        <div class="area-modal-title">
          [['Forest' | translate]]
        </div>
        <div class="disclaimer-content">
          <table>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Overview</td>
              <td>
                The forest monitoring layer primarily uses annual forest cover time series data. This data is created using Tree Canopy Cover (TCC) and Tree Canopy Height (TCH) layers, which was collated and delivered by the GLAD/UMD team for the Mekong region <a href="https://doi.org/10.1016/j.rse.2019.111278">(Potapov et al. 2019)</a>. The data was taken from time-series analysis of Landsat images characterizing forest extent and change. Using FAO forest definition with TCC is equal or greater than 10% and TCH is higher or equal 5m, and the minimum mapping unit is 0.5ha.
                <ul>
                  <li>'Forest loss' is defined as a stand-replacement disturbance, or a change from a forest to non-forest state, during the period 2000-2019. </li>
                  <li>'Forest cover gain' is defined as the inverse of loss, or a non-forest to forest change entirely within the period 2000-2019. </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Resolution</td>
              <td>30m</td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Geographic Coverage</td>
              <td>Greater Mekong region</td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Data Source</td>
              <td> <a href="https://www.landcovermapping.org/en/about/">https://www.landcovermapping.org/en/about/</a></td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Frequency updates</td>
              <td>Annually</td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">URL link to tool</td>
              <td><a href="https://www.landcovermapping.org/en/forest-monitor/">https://www.landcovermapping.org/en/forest-monitor/</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="forest-alert-info-modal" class="modal hide">
  <div class="modal-container">
    <div class="modal-background"></div>
    <div class="modal-window ">

      <div class="modal-wrapper custom-scroll">
        <div class="area-modal-title">
          [['Forest Alert' | translate]]
        </div>
        <div class="disclaimer-content">
          <table>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Overview</td>
              <td>
                The forest alert layer uses the GLAD Alert product from UMD, based on the definition of ‘forest’ being - ‘5-m tall trees with a canopy closure exceeding 30%’. An alert is defined as any Landsat pixel that experiences a canopy loss in excess of 50% cover. The alert system is designed to complement a current annual global forest cover loss product that is based on a calendar year update, first prototyped using Landsat-7 data (2000-2019), annually updated thereafter. Source: <a href="http://www.globalforestwatch.org/">http://www.globalforestwatch.org/</a> and <a href="http://earthenginepartners.appspot.com/science-2013-global-forest">http://earthenginepartners.appspot.com/science-2013-global-forest.</a>
                <p>Included in this system, the SAR Alert System (SARAS) is a near real time forest alert system using Synthetic Aperture Radar (SAR). The system is developed by SERVIR-Mekong in partnership with the USAID Greening Prey Lang Project and the Applied Science Team from Oregon State University. The system relies on the newest technologies in the field of cloud computing and artificial intelligence.</p>
              </td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Resolution</td>
              <td>30m</td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Geographic Coverage</td>
              <td>Global</td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Data Source</td>
              <td> <a href="https://glad.umd.edu/dataset/glad-forest-alerts">https://glad.umd.edu/dataset/glad-forest-alerts</a></td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Frequency updates</td>
              <td> 16 days</td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">URL link to tool</td>
              <td> <a href="https://www.globalforestwatch.org/map/">https://www.globalforestwatch.org/map/</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="burned-area-info-modal" class="modal hide">
  <div class="modal-container">
    <div class="modal-background"></div>
    <div class="modal-window ">

      <div class="modal-wrapper custom-scroll">
        <div class="area-modal-title">
          [['Fire / Burned Area' | translate]]
        </div>
        <div class="disclaimer-content">
          <table>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Overview</td>
              <td>
                Overview: The information shows the active fire / hotspot of the Fire Information for Resource Management System (FIRMS). This system was developed to provide near real-time active fire locations to natural resource managers that faced challenges obtaining timely satellite-derived fire information.
Data displayed in this tool is the Earth Engine version of the Fire Information for Resource Management System (FIRMS) dataset containing the LANCE fire detection product in rasterized form. The near real-time (NRT) active fire locations are processed by LANCE using the standard MODIS MOD14/MYD14 Fire and Thermal Anomalies product. Pixel displayed as a fire hotspot in this tool achieves 90% confidence of the LANCE fire detection model.

              </td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Resolution</td>
              <td>1000-m</td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Geographic Coverage</td>
              <td>Global</td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Data Source</td>
              <td> <a href="https://lpdaac.usgs.gov/products/mcd64a1v006/">https://earthdata.nasa.gov/earth-observation-data/near-real-time/firms</a></td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Frequency updates</td>
              <td>NASA's Fire Information for Resource Management System (FIRMS) distributes Near Real-Time (NRT) active fire data within 3 hours</td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">URL link to tool</td>
              <td> <a href=https://firms.modaps.eosdis.nasa.gov/>https://firms.modaps.eosdis.nasa.gov/</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="gis-info-modal" class="modal hide">
  <div class="modal-container">
    <div class="modal-background"></div>
    <div class="modal-window ">

      <div class="modal-wrapper custom-scroll">
        <div class="area-modal-title">
          [['GIS Layers' | translate]]
        </div>
        <div class="disclaimer-content">
          <h4>Cambodia Protected Area</h4>
          <table>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Overview</td>
              <td>
                This dataset contains data of boundary of protected areas in Cambodia with issuing dates starting from 1993 to 2020. The data was collected from government agencies and provided to SERVIR-Mekong by USAID mission in Cambodia. Geographic data is encoded in the WGS 84, Zone 48 North coordinate reference system.
              </td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Published by</td>
              <td>Cambodia Ministry of Environment</td>
            </tr>
          </table>
          <br>

          <h4>Cambodia Airports</h4>
          <table>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Overview</td>
              <td>
                This dataset shows the point location of airports both international and national airports in Cambodia. The points also have additional information including attributes (name, type, ICAO and IATA code). The data was extracted from Open Flights database via Environment Operations Centre.
              </td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Published by</td>
              <td>Open Development Cambodia</td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Data Source</td>
              <td> <a href="https://data.opendevelopmentcambodia.net/en/dataset/airports-of-cambodia">https://data.opendevelopmentcambodia.net/en/dataset/airports-of-cambodia</a></td>
            </tr>
          </table>
          <br>

          <h4>Community protected areas (2006-2019)</h4>
          <table>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Overview</td>
              <td>
                This dataset contains data of community zones in the natural protected areas such as the national park, biodiversity conservation corridor, wildlife sanctuary, and protected landscape with issuing dates starting from 2006 to 2019. Due to the lack of publicly available spatial information on zoning and degazzettment, a number of community zones are represented in pin-points on the map. The data was collected from government agencies in hardcopy and PDF format and manually digitized. Geographic data is encoded in the WGS 84, Zone 48 North coordinate reference system.
              </td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Published by</td>
              <td>Open Development Cambodia</td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Data Source</td>
              <td> <a href="https://data.opendevelopmentcambodia.net/en/dataset/community-protected-areas-2006-2019">https://data.opendevelopmentcambodia.net/en/dataset/community-protected-areas-2006-2019</a></td>
            </tr>
          </table>
          <br>
          <h4>Hydropower dams in Cambodia (1993-2014)</h4>
          <table>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Overview</td>
              <td>
                This dataset describes the information of transmission lines for each of Cambodia’s province from 1993 to 2014. The data was collected from many sources by ODC’s mappers such as government agency, and final reports of Electricité du Cambodge (EDC) in pdf format. Geographic data is encoded in the WGS 84, Zone 48 North coordinate reference system.
              </td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Published by</td>
              <td>Open Development Cambodia</td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Data Source</td>
              <td> <a href="https://data.opendevelopmentmekong.net/en/dataset/hydropower-2009-2014?type=dataset">https://data.opendevelopmentmekong.net/en/dataset/hydropower-2009-2014?type=dataset</a></td>
            </tr>
          </table>
          <br>
          <h4>Road and railway networks in Cambodia (2012- 2020)</h4>
          <table>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Overview</td>
              <td>
                Road networks are produced by Open Street Map. ODC's map and data team extracted the data in vector format. Moreover, the polyline data of railway​ given by Save Cambodia's Wildlife's Atlas Working Group in Cambodia for two statuses such as existing, proposed new lines in Cambodia.
              </td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Published by</td>
              <td>Open Development Cambodia</td>
            </tr>
            <tr>
              <td width="30%" style="font-weight:800; color:#333;">Data Source</td>
              <td> <a href="https://data.opendevelopmentmekong.net/en/dataset/road-and-railway-networks--in-cambodia?type=dataset">https://data.opendevelopmentmekong.net/en/dataset/road-and-railway-networks--in-cambodia?type=dataset</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
