body {
  /*margin-top: 50px;*/
  margin-top: 92px;
  font-family: 'Roboto Condensed', sans-serif;
}
.cover-photo{
  background-image: url("/static/images/cover-photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 550px;
}

p {
  /* text-align: justify; */
  font-size: 14px;
  color: #333;
  font-weight: 400;
  letter-spacing: .5px;
}
ul, ol {
  list-style-type: decimal;
  padding-left: 40px;
  color: #666;
}

h2{
  margin: 10px 0;
  color: #084e5e;
  font-weight: 600;
  letter-spacing: 1px;
}

.contact-list p{
  font-size: 14px;
}
.overlay-layer{
  text-align: left;
  height: 100%;
  /* background: rgb(0 0 0 / 22%); */
  padding: 100px;
}


.btn-grad {background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%)}
.btn-grad {
  padding: 5px 50px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  font-size: 16px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


.launch-btn{
  background: #04ab9b;
  padding: 5px 20px;
  font-size: 20px;
  cursor: pointer;
  color: #FFF;
}

.launch-btn:hover{
  text-decoration: none;
  background: #084e5e;
  color: #FFF;
}

.home-img h1 {
  color: #084e5e;
  margin: 0;
  font-weight: 600;
}
.home-img{
  background: #eee;
  color: #333;
  font-size: 30px;
  padding: 50px 0;
}
.home-img label{
  color: #333;
}
.home-img label span{
  font-size: 18px;
}

.home-img p{
  color: #333;
  font-size: 14px;
}

.home-nasa {
  background-size: auto 50px;
  width: 60px !important;
  float: left;
  margin-right: 5px;
  margin-bottom: 20px;
}

.home-adpc {
  background-size: auto 50px;
  width: 100px !important;
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
}

.home-pcd {
  background-size: auto 50px;
  width: 60px !important;
  float: left;
  margin-right: 5px;
  margin-bottom: 20px;
}

.home-gistda {
  background-size: auto 50px;
  width: 100px !important;
  float: left;
  padding-top: 5px;
  margin-bottom: 20px;
}
.home-servir {
  float: left;
  background-size: auto 35px;
  width: 220px !important;
  padding-top: 10px;
  margin-bottom: 20px;
}

.img-credit {
  position: relative;
  top: 170px;
  font-size: 10px;
}
